body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  .custom-gradient {
    background: linear-gradient(180deg, #c7ddff, #f7f8fb 42.19%, #faffc1 85.42%, #ffca95 95.83%, #cd6e42);
  }

@tailwind base;
@tailwind components;
@tailwind utilities;
